**/*.o
**/*.a
**/*.mod
**/*.f90
lib/
fix/
exec/
sorc/ROMS.fd/Build/
**/config.log
**/config.status
jobs/hosts.launcher
sorc/FVCOM.fd/FVCOM_source/libs/proj.4-master/cmake/
sorc/FVCOM.fd/FVCOM_source/libs/proj.4-master/com/
sorc/FVCOM.fd/FVCOM_source/libs/proj.4-master/docs/
sorc/FVCOM.fd/FVCOM_source/libs/proj.4-master/html/
sorc/FVCOM.fd/FVCOM_source/libs/proj.4-master/include/
sorc/FVCOM.fd/FVCOM_source/libs/proj.4-master/jniwrap/
sorc/FVCOM.fd/FVCOM_source/libs/proj.4-master/m4/
sorc/FVCOM.fd/FVCOM_source/libs/proj.4-master/man/
sorc/FVCOM.fd/FVCOM_source/libs/proj.4-master/nad/
sorc/FVCOM.fd/FVCOM_source/libs/proj.4-master/share/
sorc/FVCOM.fd/FVCOM_source/libs/proj.4-master/src/
sorc/FVCOM.fd/FVCOM_source/libs/proj.4-master/wince/
sorc/FVCOM.fd/FVCOM_source/libs/proj4-fortran-master/.deps/
sorc/FVCOM.fd/FVCOM_source/libs/proj4-fortran-master/autom4te.cache/
sorc/FVCOM.fd/FVCOM_source/libs/proj4-fortran-master/include/

